*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
.div-hero-and-nav{
    height: 100vh;

     background-image: url('https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/331582135_1375056989916959_8838552206411262538_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEYBcwCPij537GDs8Jc0WQN3-WHjXivzZbf5YeNeK_NljyiWK1Wf2CXe2B6xKw4sJW8Gm5cv7X80m6LNgYkwYQI&_nc_ohc=FXQNFuzJVp0AX_guZz3&_nc_ht=scontent.fceb6-1.fna&oh=00_AfBkM32sAKMlsYU5OCKUpQf5_DxY6Zqr9p9aEy_jT8g0xA&oe=643D4970');
    /* background-image: url('https://fb.watch/jTs1XrwNgu/'); */
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    
}

body{
    background-color: rgba(252, 151, 131, 0.618);

}


li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color:rgba(252, 151, 131, 0.618);
}
/* HEADER */

.navbar{
    position: fixed;
    padding: 0 2rem;
    width: 100%;
    height: 60px;
    max-width: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.30);
}
.navbar .logo{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight:600;
}
.navbar a {
    font-size: 1rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}
/* DROPDOWN */
.dropdown_menu{
    display: none;
    position: fixed;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* HERO */
#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    /* Put GAP between next section */
    /* margin-bottom: 5%;  */
}
#hero h1{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    
}
#hero p{
    margin: 0 1.5rem;
}
main{
    margin-bottom: 1rem;
}
/* SERVICES */

.div-services{
    padding: 3% 0;
    display: block;
    text-align: center;
    line-height: 1.5;

}

.section-title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight:900;
    color: #fff;
    margin: 20px 0;
}


.services-container{

    display:flex;
    justify-content: center;
    flex-wrap: wrap; 
    color: #fff;
}

.card{
    width: 520px;
    margin: 15px;
    flex-direction: column;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
}

.card-image{
    height: 350px;
    margin-bottom: 2%;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0;
}

.card-1{
    background-image: url('https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/322372187_704885497819883_3315172944923744691_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeE1O1WZTnmLcORHfjpWi8ADRNqAybVigotE2oDJtWKCizDcdr1RF6vF0cneP4zsjLIrVRh6D4N59hThzR4g5yuN&_nc_ohc=lqB1gw-OiWwAX_m2bk9&_nc_ht=scontent.fceb6-1.fna&oh=00_AfBJRMr5VPYyZIqRk3xvS_l9KinjiIRdNzQp2pM4XJGiiQ&oe=643DB7B8');
}
.card-2{
    background-image: url('https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/317940962_1955932791268394_8345288214405042037_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHM5keDVzEWsRtecInoWJDEZIgs1x51z6xkiCzXHnXPrH8ayNQFIfYhizuGT31ZZ2qm6dn7oLxEuYzAU6jFu5X4&_nc_ohc=mYHSXVXSe2cAX9nsQ1G&_nc_ht=scontent.fceb6-1.fna&oh=00_AfBxHfOteahhPACoOh9lULoDIPREWOjaDqsSx5OBx3MZlQ&oe=643C8F44');
}
 
.card-3{
    background-image: url('https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/335313929_219342213983480_7115832063317512734_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGZNlR0Q6zsPDG-3bXfZ7mSbinZEyQwD_huKdkTJDAP-CvW0vumjwY2sGMCWQyCSMXlEmAXYiztHIuPaR5GNpIH&_nc_ohc=cDmmhIacyl8AX--_IEB&_nc_ht=scontent.fceb6-1.fna&oh=00_AfCHzRjWy4ELDSHpDI_w-G91YtmX2og5FNbLCJQsISrpkA&oe=643BF517');
}
 
.card-4{
    background-image: url('https://scontent.fceb6-1.fna.fbcdn.net/v/t39.30808-6/335307592_125114480367703_8187876993414499915_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHgbIz9lRxRfQY0VnGQUogIG35bXrRL09EbfltetEvT0Yoj4Sold_HZe4rEnUnaufjxZ8TzWPz290ag7jLEiVPG&_nc_ohc=3rwBFtVsOwwAX9uQxeR&_nc_ht=scontent.fceb6-1.fna&oh=00_AfAGs55LIj-tBRHCVUc7kaIgiv4LNEEZrSTCo3ovZMnfaQ&oe=643D3344');
}
.card-5{
    background-image: url('https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.6435-9/87060646_1189432634585084_6380014802554585088_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEqGUfSNf38wO3q5xUwM5HiAXZb7P4iuS0Bdlvs_iK5LVfjCyR6KblbhUPZQFo8wZYF2AFLxT2ZRhDzJsAEMEGj&_nc_ohc=6-WkegdG4FYAX8r9vBS&_nc_ht=scontent.fmnl4-2.fna&oh=00_AfCLr4aOuDKe9_6Vkh-YJiztaK-XJ_cCPIdPn-FdyQRr2A&oe=645F82B4');
}
.card-6{
    background-image: url('https://scontent.fmnl4-1.fna.fbcdn.net/v/t39.30808-6/329955038_3022099604759695_9222540243219282182_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeEu3KHXUAm4ar82VYFgj8a0ZzVOtPWv5sdnNU609a_mx0MQrIXjRYXhvaUKUfGICceMz1_y4OtDv3apbfnM8e4_&_nc_ohc=w9zvoh48LcwAX8-vyNV&_nc_ht=scontent.fmnl4-1.fna&oh=00_AfCyN5FqdJDyycs56yd1EbcHT_brAKYXJsUJQppeIRXMbQ&oe=643D6AF9');
}




.card h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
}
.card p{
    padding:1% 5% 3%;
}
.card a{
    border-radius: 15px;
    padding: 15px 20px;
    font-weight: bold;
    background-color: rgba(246, 156, 117, 0.618);
    display: block;
    text-align: center;
    color: #fff;
    margin: 0 20% 3%;
}
.card a:hover{
    scale: 1.05;
    color: #fff;
}
.card a:active{
    scale: 0.95;
}

/* END OF SERVICES */


/* Packages */
.div-packages{
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    
}
.packages-container{
    border-radius: 15px;
    max-width: 550px;
    padding:10px;
    border:  3px solid #fff;
    margin: 10px auto;
    height: 600px;
}

.packages-container .heading{
    margin: 3px;
    line-height: 1.5rem;
}

.packages-container img {
    
    max-width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    padding: 5px;
}
.packages-container .heading, .packages-container .text {
    width: 100%;
    padding: 0 5px;
    min-width: 300px;
}

.packages-container h2, .packages-container h4 {
    text-transform: uppercase;
}
.packages-container p {
    margin: 10px 0;
}
.packages-container a {
    display: block;
    text-align: center;
    margin: 1rem 5rem;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    
}

.packages-container li{
    color: #fff;
    padding: 0 10px;
    list-style: circle;
    line-height: 1.5rem;
    text-transform: uppercase;
}




/* End of Packages */

/* ABOUT */

.about-container{
    padding: 2rem 0;
    /* background-image: url('https://scontent-sin6-2.xx.fbcdn.net/v/t39.30808-6/316178041_1945119215683085_7010840091321983141_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeG8RDxm7zcAMbf813khoPg4C2I3aoxB0y4LYjdqjEHTLmqmsK42Bd06x9xCdmKNpl_pUy1eJClnkybFTbcOax7X&_nc_ohc=jQ9rkHPrSbwAX9IXXex&_nc_oc=AQlGU94d8OsrGRSVPnizM0nOLdPNB8ELiSj6vvccszQ3OZOGqqPC16S3tuloODMvElY&_nc_ht=scontent-sin6-2.xx&oh=00_AfBHCDvJuHA0PfEz9EFrGs0Ec1z3fDaJMNsVUSvdI3ZeJg&oe=643D87E8'); */
    background-size: cover;
    background-color: rgba(252, 151, 131, 0.618);
    color: #fff;
    display:flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: column;
    line-height: 1.5;
}

.about-box{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 25%;
}

.about-container  p {
    padding: 15px 20%;
    
}

.about-image-container{
    margin: 12px 0;
    width: 200px;
    display: flex;
    justify-content: center;
    align-content: center;    
    margin-left: auto;
    margin-right: auto;
}
.image-eleanor{
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
}
/* END OF ABOUT */




/* RESPONSIVE */
@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }


}

@media(max-width:568px){
    .navbar .logo a {
        font-size: 1.3rem;
    }
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .card {
        flex-direction: row;
      }
      .about-box{
        padding: 1rem 0 1.5rem;
        margin: 0 2rem;
    }

    
}